.tickets a{
  line-height: "3" !important;
}

.tickets h4{
  margin-bottom: 1rem;
  opacity: .9;
}


.hero{
  background-color: rgb(56, 126, 209);
  color: #fff;
}

.hero input{
  padding: 15px 30px;
  width: 80%;
  border-radius: 3px;
  border: none;
}

.heroTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero a{
  color: #fff;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
}

.hero a:hover{
  opacity: .9;
}